$font-h: 'Fredoka One', sans-serif
$font-p: 'Rubik', sans-serif

*
  box-sizing: border-box

:root
  font-family: 'Rubik', sans-serif
  font-size: 16px

  color: var(--color-c5)

  /* color variables */
  --color-c0: #1a1a1a
  --color-c1: #2a2a2a
  --color-c2: #3a3a3a
  --color-c3: #5a5a5a
  --color-c4: #bababa
  --color-c5: #eaeaea
  --color-ca: #ff99be

/* scrollbar */
::-webkit-scrollbar
  width: 8px
  height: 8px
::-webkit-scrollbar-button
  width: 0px
  height: 0px
::-webkit-scrollbar-thumb
  background: var(--color-c4)
  border: none
::-webkit-scrollbar-track
  background: var(--color-c2)
  border: none 
::-webkit-scrollbar-corner
  background: var(--color-c2) 

::selection
  color: var(--color-c5)
  background: #cd435c

/* reset links */
a
  text-decoration: none
  color: #eaeaea

// a:hover
//   text-decoration: underline

body
  background: var(--color-c0)
  background-image: radial-gradient(#222222 1.5px, transparent 1.5px)
  background-size: 10px 10px
  background-color: #1a1a1a

  display: flex
  align-items: center 
  justify-content: center

  #container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    width: clamp(69px, 100%, 727px)

    padding: 16px
    padding-top: 32px

    #header
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 12px

      #pfp
        width: 150px
        height: 150px
        
        box-shadow: 4px 4px 0px 0px var(--color-c2)
      
      #title
        // font-family: $font-h
        font-size: 1.75rem
        text-shadow: 3px 3px 0 var(--color-c2)

        color: var(--color-c5)

        font-weight: 800
      
      #subtitle
        font-family: $font-p
        font-size: 0.8rem
        font-weight: 300

        color: var(--color-c4)

        display: flex
        align-items: center

        img
          display: none // hide the discord icon for now

          width: 16px
          margin-right: 2px
      
      #bio
        font-family: $font-p
        font-size: 0.9rem
        font-weight: 300

        color: var(--color-c5)

        text-align: justify
    
    #cards
      display: flex
      flex-direction: column
      gap: 12px

      width: 100%

      .category
        margin-top: 16px
      
      .note
        font-family: $font-p
        font-size: 0.8rem
        font-weight: 300

        color: var(--color-c4)

        text-align: justify

      .card
        display: flex
        align-items: center
        gap: 12px

        width: 100%

        padding: 8px
        background: var(--color-c1)
        border: 1px solid var(--color-c4)
        
        box-shadow: 4px 4px 0px 0px var(--color-c2)

        &.hidden
          display: none

        &:hover
          transform: translate(1px, 1px)
          box-shadow: 3px 3px 0px 0px var(--color-c2)

          background: var(--color-c2)

        &:active
          transform: translate(3px, 3px)
          box-shadow: 1px 1px 0px 0px var(--color-c2)

          background: var(--color-c3)

        .icon
          width: 32px
          height: 32px
        
        .label
          font-family: $font-p
          font-size: 1rem
          font-weight: 300

          color: var(--color-c5)

          overflow: hidden
    
    #footer
      font-family: $font-p
      font-size: 0.7rem
      font-weight: 300

      color: var(--color-c4)

      padding-top: 16px
        
      a
        color: var(--color-c4)
        
        &:hover
          text-decoration: underline